html {
  font-size: 1rem;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-color);
}

.p-card-body {
  padding: 0 !important;
}

.p-button:disabled {
  cursor: not-allowed !important;
  pointer-events: all !important;
}

.p-dialog .p-dialog-header {
  border-bottom: 1px var(--surface-border) solid !important;
  border-left: 3px var(--primary-color) solid !important;
}

.header-icons-table .p-column-header-content {
  justify-content: center;
}

.userOption.p-button,
.userOption .p-button {
  padding: 0.4rem .75rem;
}

.create-link-session-btn {
  top: 10px;
  right: 17px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--surface-0);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--gray-0);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--gray-200);
}

.p-avatar-circle {
  border-radius: 50% !important;
}

.p-inputtextarea {
  height: 50px;
}

.p-accordion-tab {
  margin: 12px 0;
}

.p-card-content {
  padding: 0 !important;
}

.p-menu.p-menu-overlay {
  border: 1px solid var(--gray-200) !important;
}

.sender {
  background-color: var(--surface-b) !important;

}

.sender::before {
  content: '';
  position: absolute;
  right: 0;
  top: 30%;
  width: 0;
  height: 0;
  border: 0.844em solid transparent;
  border-left-color: var(--surface-b);
  border-right: 0;
  border-top: 0;
  margin-top: -0.222em;
  margin-right: -0.844em;
}

.sender-client {
  background-color: var(--primary-color) !important;
  color: var(--surface-0) !important
}

.sender-client::before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 0;
  height: 0;
  border: 0.944em solid transparent;
  border-right-color: var(--primary-color);
  border-left: 0;
  border-top: 0;
  margin-top: -0.222em;
  margin-left: -0.844em;
}